<%= turbo_stream_from "ovens" %>

<section class="flex flex-col justify-between px-8 bg-gradient-to-b from-gray-900 to-gray-700 text-white py-12">


<%= turbo_frame_tag dom_id(@oven, "store") do %>
  <%= render "ovens/store", oven: @oven %>
<% end %>

  <div class="w-800">
    <%= simple_form_for [@oven, @cookie],
      remote: true,
      html: { class: 'form-horizontal',
              id: 'cookie-form',
              'data-turbo-frame': dom_id(@oven, "cookie_info") } do |f| %>
      <%= form_error_notification(@cookie) %>
      <div class="p-6">
        <h3 class="text-xl font-semibold mb-4">Digital Oven</h3>
        <div class="flex items-center space-x-2">
          <div class="w-3 h-3 bg-green-400 rounded-full"></div>
          <p class="text-green-600 font-semibold">Online</p>
        </div>
      </div>

      <div class="bg-gray-700 p-4">
        <div class="bg-gray-500 rounded-lg mt-4 p-4">
          <div class="flex justify-between">
            <h4 class="text-lg font-semibold mb-2">Qty</h4>
            <div class="flex items-center">
              <%= f.number_field :quantity, value: 1, min: 1, class: "w-16 h-8 px-2 py-1 border rounded-lg mr-2 text-lg text-gray-800 bg-gray-100" %>
            </div>
            <h4 class="text-lg font-semibold mb-2">Timer</h4>
            <div class="flex items-center">
              <%= f.number_field :cooking_time, value: 20, min: 20, class: "w-16 h-8 px-2 py-1 border rounded-lg mr-2 text-lg text-gray-800 bg-gray-100" %>
              <p class="text-gray-100">sec</p>
            </div>
          </div>
          <div class="mt-2">
            <div class="h-2 bg-gray-200 rounded-full">
              <div class="h-full bg-green-500 rounded-full"></div>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-3 gap-2" data-controller="cookie-buttons">
          <%= f.button :button, 'Chocolate', type: 'button', class: 'filling-button py-2 px-4 bg-gray-900 hover:bg-gray-600 text-white font-semibold rounded transition duration-300 ease-in-out', "data-cookie-buttons-selected-filling-target": "selectedFilling", "data-action": "click->cookie-buttons#selectFilling", "data-filling": "chocolate" %>
          <%= f.button :button, 'Cream', type: 'button', class: 'filling-button py-2 px-4 bg-gray-900 hover:bg-gray-600 text-white font-semibold rounded transition duration-300 ease-in-out', "data-cookie-buttons-selected-filling-target": "selectedFilling", "data-action": "click->cookie-buttons#selectFilling", "data-filling": "strawberry" %>
          <%= f.button :button, 'Vanilla', type: 'button', class: 'filling-button py-2 px-4 bg-gray-900 hover:bg-gray-600 text-white font-semibold rounded transition duration-300 ease-in-out', "data-cookie-buttons-selected-filling-target": "selectedFilling", "data-action": "click->cookie-buttons#selectFilling", "data-filling": "vanilla" %>
          <%= f.hidden_field :fillings, id: "selected-filling", data: { target: "cookie-buttons.selectedFilling" } %>
          <%= f.submit 'Start', class: 'w-full mt-4 py-2 px-6 bg-gray-900 hover:bg-gray-600 text-white font-semibold rounded transition duration-300 ease-in-out' %>
        </div>
      <% end %>
      <div class="flex justify-center items-center bg-gray-500 rounded-lg p-4 h-96">
        <%= turbo_frame_tag dom_id(@oven, "cookie_info") do %>
          <%= render 'ovens/cookie_info', oven: @oven %>
        <% end %>
      </div>
    </div>
  </div>
</section>
