<nav class="bg-gray-900 py-2 px-8">
  <div class="container mx-auto flex items-center justify-between">
    <a href="<%= root_path %>" class="text-white text-xl font-bold">DigiBakery</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="md:block">
      <ul class="flex space-x-4">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Edit account', edit_user_registration_path, class: 'text-white' %>
          </li>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'text-white' %>
          </li>
          <li>
            <%= link_to 'Order listing', orders_path, class: 'text-white', data: { turbo: false } %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign in', new_user_session_path, class: 'text-white' %>
          </li>
          <li>
            <%= link_to 'Sign up', new_user_registration_path, class: 'text-white' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


